@import "tailwindcss";

@theme {
  --font-sans: var(--font-main);
}

/*
   SOLUÇÃO SCROLL HORIZONTAL:
   Aplicamos overflow-x: hidden tanto no HTML como no BODY.
   Isto é a "rede de segurança" principal.
*/
html,
body {
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
}

body {
  font-family: var(--font-main), sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
