@import "tailwindcss";

@theme {
  --font-sans: var(--font-main);
}

body {
  font-family: var(--font-main), sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
