@import "tailwindcss";
@theme {
  --font-sans: var(--font-main);
}

html,
body {
  overflow-x: clip;
  width: 100%;
  scroll-padding-top: 75px;
}

body {
  font-family: var(--font-main), sans-serif;
}
